.msk-main {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    .msk-banner {
        width: 100%;
        height: 60vh;
        background-image: url('./../assets/img/contact/banner-contact.png');
        background-position: 45% 95%;
        background-size: cover;
        background-color: #53535379;
        background-blend-mode: soft-light;
        z-index: 9;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        gap: .5rem;
        padding-bottom: 10rem;

        @media (min-width:481px) {
            height: 70vh;
            padding-bottom: 15rem;
        }

        @media (min-width:820px) {
            height: 90vh;
        }

        .msk-title-banner {
            font-size: 4.8rem;
            position: relative;
            font-weight: 100;
            margin: 0px;
            margin-block-start: 0px;
            margin-block-end: 0px;

            @media (min-width:481px) {
                font-size: 7.8rem;

                &::before {
                    width: 29%;
                    height: .5rem;
                    background-color: var(--color-salmon);
                    position: absolute;
                    display: inline-block;
                    content: '';
                    top: -.7rem;
                    left: 0px;
                }

                ;
            }

            @media (min-width:820px) {
                font-size: 10.8rem;
            }
        }

        .msk-subtitle-banner {
            font-size: 1rem;
            font-weight: bold;
            margin-top: -1.5rem;

            @media (min-width:481px) {
                font-size: 1.8rem;
            }

            @media (min-width:820px) {
                font-size: 1.9rem;
            }
        }



    }

    .msk-bar {
        width: 25%;
        height: .3rem;
        border-radius: 25px;
        margin: 1.5rem 0rem -1rem 0rem;
        border: none;

        @media (min-width:481px) {
            display: none;
        }
    }

    .msk-section-contact {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 2rem;

        .msk-title-banner {
            font-size: 3.8rem;
            font-weight: 100;
            margin: 0px;
            margin-block-start: 0px;
            margin-block-end: 0px;
            margin-top: 4rem;

            @media (min-width:481px) {
                font-size: 7.8rem;
            }

            @media (min-width:820px) {
                font-size: 10.8rem;
            }
        }

        .msk-contact-text {
            text-align: center;
            margin-top: 1rem;
            font-weight: 900;
            margin-bottom: 2rem;

            @media (min-width:481px) {
                font-size: 1.2rem;
            }

            @media (min-width:820px) {
                font-size: 1.8rem;
            }
        }
    }

    .msk-section-form-slider {
        width: 100%;

        .msk-container-form-slider {
            width: 100%;

            .msk-container-form {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                .msk-form-container {
                    gap: 20px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin: 0 auto;
                    padding: 20px;
                    border-radius: 10px;

                    .msk-form-item {
                        border: none;
                        outline: none;
                        width: 80%;
                        padding: .8rem;
                        border-radius: 10px;
                        resize: vertical;
                        @media (min-width:481px) {
                            width:70% ;
                        }
                
                        @media (min-width:820px) {
                        }

                        &::placeholder {
                            font-family: 'Montserrat', sans-serif;
                        }
                    }
                }
            }
        }

        .msk-container-slider {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 3rem;
            flex-direction: column;

            .msk-container-cards {

                .msk-card {
                    min-height:28rem ;
                    width: 13rem;
                    border-radius: 10px;
                    padding: 20px;
                    text-align: center;
                    margin-bottom: 3rem;

                    .msk-card-tittle {
                        font-size: 24px;
                    }

                    .msk-card-p {
                        font-size: 16px;
                        margin: 10px 0;
                    }
                }
            }

            .msk-title-banner {
                font-size: 3.8rem;
                font-weight: 100;
                margin: 0px;
                margin-block-start: 0px;
                margin-block-end: 0px;
                margin-top: 4rem;

                @media (min-width:481px) {
                    font-size: 7.8rem;
                }

                @media (min-width:820px) {
                    font-size: 10.8rem;
                }
            }

        }
    }

    .msk-section-map {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .msk-container-map {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .msk-title-banner {
                font-size: 3.8rem;
                font-weight: 100;
                margin: 0px;
                margin-block-start: 0px;
                margin-block-end: 0px;
                margin-top: 4rem;

                @media (min-width:481px) {
                    font-size: 7.8rem;
                }

                @media (min-width:820px) {
                    font-size: 10.8rem;
                }
            }

            .msk-iframe-map {
                width: 17rem;
                height: 20rem;
                margin: 2rem 0rem 3rem 0rem;
                @media (min-width:481px) {
                    width: 40rem;
                    height: 50rem;
                }
        
                @media (min-width:820px) {
                }
            }
        }
    }
}

.msk-footer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;

    .msk-section-footer-networks {
        align-items: center;
        width: 100%;
        height: 50%;
        flex-direction: column;
        display: flex;
        gap: .4rem;
        padding: 1rem;
        margin-top: 3rem;

        .msk-icons-section {
            display: flex;
            align-items: center;
            gap: 2rem;
            padding: 1rem;
            justify-content: center;

            .msk-icons {
                font-size: 3rem;
            }
        }

        .msk-subtitle-banner {
            font-weight: normal;
            font-size: .8rem;
            margin-bottom: 1.5rem;
            text-align: center;

            @media (min-width:481px) {
                max-width: 50%;
            }
        }
    }
}