.msk-main {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.msk-main .msk-banner {
  width: 100%;
  height: 60vh;
  background-image: url("./../assets/img/contact/banner-contact.png");
  background-position: 45% 95%;
  background-size: cover;
  background-color: rgba(83, 83, 83, 0.4745098039);
  background-blend-mode: soft-light;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 10rem;
}
@media (min-width: 481px) {
  .msk-main .msk-banner {
    height: 70vh;
    padding-bottom: 15rem;
    align-items: flex-start;
    padding-left: 4rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-banner {
    height: 90vh;
    padding-bottom: 6rem;
  }
}
.msk-main .msk-banner .msk-title-banner {
  font-size: 4.8rem;
  position: relative;
  font-weight: 100;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  line-height: 4.8rem;
}
@media (min-width: 481px) {
  .msk-main .msk-banner .msk-title-banner {
    font-size: 7.8rem;
    line-height: 7.8rem;
  }
  .msk-main .msk-banner .msk-title-banner::before {
    width: 29%;
    height: 0.5rem;
    background-color: var(--color-salmon);
    position: absolute;
    display: inline-block;
    content: "";
    top: -1rem;
    left: 0.3rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-banner .msk-title-banner {
    font-size: 10.8rem;
    line-height: 10.8rem;
  }
  .msk-main .msk-banner .msk-title-banner::before {
    left: 0.5rem;
  }
}
.msk-main .msk-banner .msk-subtitle-banner {
  font-size: 1rem;
  font-weight: bold;
  margin-top: -1.5rem;
}
@media (min-width: 481px) {
  .msk-main .msk-banner .msk-subtitle-banner {
    font-size: 1.8rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-banner .msk-subtitle-banner {
    font-size: 1.9rem;
  }
}
.msk-main .msk-bar {
  width: 25%;
  height: 0.3rem;
  border-radius: 25px;
  margin: 1.5rem 0rem -1rem 0rem;
  border: none;
}
@media (min-width: 481px) {
  .msk-main .msk-bar {
    display: none;
  }
}
.msk-main .msk-section-contact {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 2rem;
}
.msk-main .msk-section-contact .msk-title-banner {
  font-size: 3.8rem;
  font-weight: 100;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 4rem;
}
@media (min-width: 481px) {
  .msk-main .msk-section-contact .msk-title-banner {
    font-size: 7.8rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-contact .msk-title-banner {
    font-size: 6.8rem;
  }
}
.msk-main .msk-section-contact .msk-contact-text {
  text-align: center;
  margin-top: 1rem;
  font-weight: 900;
  margin-bottom: 2rem;
}
@media (min-width: 481px) {
  .msk-main .msk-section-contact .msk-contact-text {
    font-size: 1.2rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-contact .msk-contact-text {
    font-size: 1.4rem;
  }
}
.msk-main .msk-section-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 820px) {
  .msk-main .msk-section-message {
    flex-direction: row;
    align-items: flex-start;
  }
}
.msk-main .msk-section-message .msk-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: 100%;
}
@media (min-width: 481px) {
  .msk-main .msk-section-message .msk-form {
    padding: 4rem 2rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-message .msk-form {
    min-height: 33.8rem;
  }
}
.msk-main .msk-section-message .msk-form .msk-form-item {
  border: none;
  outline: none;
  width: 80%;
  padding: 1rem 2rem;
  border-radius: 5px;
  resize: vertical;
}
@media (min-width: 481px) {
  .msk-main .msk-section-message .msk-form .msk-form-item {
    width: 75%;
  }
}
.msk-main .msk-section-message .msk-form .msk-form-item::placeholder {
  font-family: "Montserrat", sans-serif;
}
.msk-main .msk-section-message .msk-address {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.msk-main .msk-section-message .msk-address .msk-title {
  font-size: 3.8rem;
  font-weight: 100;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
@media (min-width: 481px) {
  .msk-main .msk-section-message .msk-address .msk-title {
    font-size: 5.8rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-message .msk-address .msk-title {
    font-size: 6.8rem;
  }
}
.msk-main .msk-section-message .msk-address .msk-address-slider .slick-list .slick-track {
  display: flex !important;
  align-items: center !important;
  gap: 1rem !important;
}
.msk-main .msk-section-message .msk-address .msk-address-slider .msk-card {
  min-height: 19rem;
  width: 15rem;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
}
.msk-main .msk-section-message .msk-address .msk-address-slider .msk-card .msk-card-tittle {
  font-size: 24px;
}
.msk-main .msk-section-message .msk-address .msk-address-slider .msk-card .msk-card-p {
  font-size: 16px;
  margin: 10px 0;
  text-align: left;
}
.msk-main .msk-section-message .msk-address .msk-address-dots {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1rem;
  position: relative;
  margin-bottom: 1rem;
}
.msk-main .msk-section-message .msk-address .msk-address-dots .msk-address-dot {
  bottom: 0px;
}
.msk-main .msk-section-message .msk-address .msk-address-dots .msk-address-dot li {
  background-color: var(--color-yellow-dark) !important;
  border-radius: 100%;
  width: 0.7rem;
  height: 0.7rem;
}
.msk-main .msk-section-message .msk-address .msk-address-dots .msk-address-dot li:not(:last-child) {
  margin-right: 1rem;
}
.msk-main .msk-section-message .msk-address .msk-address-dots .msk-address-dot li {
  background-color: var(--color-brown) !important;
}
.msk-main .msk-section-message .msk-address .msk-slider-dots {
  margin-top: 1rem;
}
.msk-main .msk-section-map {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.msk-main .msk-section-map .msk-title-banner {
  font-size: 3.8rem;
  font-weight: 100;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 2rem;
}
@media (min-width: 481px) {
  .msk-main .msk-section-map .msk-title-banner {
    font-size: 5.8rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-map .msk-title-banner {
    font-size: 6.8rem;
  }
}
.msk-main .msk-section-map .msk-iframe-map {
  width: 85%;
  height: 25rem;
}
@media (min-width: 481px) {
  .msk-main .msk-section-map .msk-iframe-map {
    width: 80%;
    height: 40rem;
  }
}
.msk-footer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}
.msk-footer .msk-section-footer-networks {
  align-items: center;
  width: 100%;
  height: 50%;
  flex-direction: column;
  display: flex;
  gap: 0.4rem;
  padding: 1rem;
  margin-top: 3rem;
}
.msk-footer .msk-section-footer-networks .msk-icons-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
}
.msk-footer .msk-section-footer-networks .msk-icons-section .msk-icons {
  font-size: 3rem;
}
.msk-footer .msk-section-footer-networks .msk-subtitle-banner {
  font-weight: normal;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
@media (min-width: 481px) {
  .msk-footer .msk-section-footer-networks .msk-subtitle-banner {
    max-width: 50%;
  }
}

.msk-section-footer-networks {
  margin-top: 0px !important;
}
