.msk-main {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.msk-main .msk-banner {
  width: 100%;
  height: 60vh;
  background-image: url("./../assets/img/experience/banner.png");
  background-position: 45% 95%;
  background-size: cover;
  background-color: rgba(83, 83, 83, 0.4745098039);
  background-blend-mode: soft-light;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 10rem;
}
@media (min-width: 481px) {
  .msk-main .msk-banner {
    height: 70vh;
    padding-bottom: 15rem;
    align-items: center;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-banner {
    height: 90vh;
    padding-bottom: 8rem;
  }
}
.msk-main .msk-banner .msk-title-banner {
  font-size: 5.5rem;
  font-weight: 100;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
@media (min-width: 481px) {
  .msk-main .msk-banner .msk-title-banner {
    font-size: 7.8rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-banner .msk-title-banner {
    font-size: 10.8rem;
  }
}
.msk-main .msk-banner .msk-subtitle-banner {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: -2.3rem;
}
@media (min-width: 481px) {
  .msk-main .msk-banner .msk-subtitle-banner {
    font-size: 1.8rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-banner .msk-subtitle-banner {
    font-size: 1.9rem;
  }
}
.msk-main .msk-bar {
  width: 20%;
  height: 0.5rem;
  border-radius: 25px;
  margin: 1.5rem 0rem -1rem 0rem;
  border: none;
}
.msk-main .msk-section-img {
  width: 100%;
}
.msk-main .msk-section-img .msk-photos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  row-gap: 1rem;
  padding: 1.5rem;
}
@media (min-width: 820px) {
  .msk-main .msk-section-img .msk-photos {
    flex-wrap: nowrap;
  }
}
.msk-main .msk-section-img .msk-photos .msk-photo {
  width: 22rem;
  height: 24rem;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
@media (min-width: 481px) {
  .msk-main .msk-section-img .msk-photos .msk-photo {
    width: 100%;
    background-size: 50% 100%;
    background-repeat: no-repeat;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-img .msk-photos .msk-photo {
    width: calc(33.3333333333% - 5rem);
    background-size: cover;
  }
}
.msk-main .msk-section-img .msk-photos .msk-photo:nth-child(1) {
  background-image: url("../assets/img/experience/section_item1.png");
}
@media (min-width: 481px) {
  .msk-main .msk-section-img .msk-photos .msk-photo:nth-child(1) {
    background-position: left;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-img .msk-photos .msk-photo:nth-child(1) {
    font-size: 9.8rem;
  }
}
.msk-main .msk-section-img .msk-photos .msk-photo:nth-child(2) {
  background-image: url("../assets/img/experience/section_item2.png");
}
@media (min-width: 481px) {
  .msk-main .msk-section-img .msk-photos .msk-photo:nth-child(2) {
    background-position: right;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-img .msk-photos .msk-photo:nth-child(2) {
    font-size: 9.8rem;
  }
}
.msk-main .msk-section-img .msk-photos .msk-photo:nth-child(3) {
  background-image: url("../assets/img/experience/section_item3.png");
}
@media (min-width: 481px) {
  .msk-main .msk-section-img .msk-photos .msk-photo:nth-child(3) {
    background-position: left;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-img .msk-photos .msk-photo:nth-child(3) {
    font-size: 9.8rem;
  }
}
.msk-main .msk-section {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 2rem;
}
.msk-main .msk-section .msk-button-text {
  text-align: center;
  margin-top: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
@media (min-width: 481px) {
  .msk-main .msk-section .msk-button-text {
    font-size: 1.2rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section .msk-button-text {
    font-size: 1.3rem;
  }
}
.msk-main .msk-section-experience {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}
.msk-main .msk-section-experience .form-experience {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 10rem;
  padding: 2rem;
}
@media (min-width: 481px) {
  .msk-main .msk-section-experience .form-experience {
    padding: 2rem 8rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-experience .form-experience {
    padding: 4rem 30rem;
    gap: 3rem;
  }
}
.msk-main .msk-section-experience .msk-title-banner {
  font-size: 4.8rem;
  font-weight: 100;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  line-height: 4.8rem;
}
@media (min-width: 820px) {
  .msk-main .msk-section-experience .msk-title-banner {
    font-size: 6.5rem;
    line-height: 6.5rem;
  }
}
.msk-main .msk-section-experience .msk-subtitle-banner {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 820px) {
  .msk-main .msk-section-experience .msk-subtitle-banner {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.msk-main .msk-section-experience .msk-button {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.msk-main .msk-section-review {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem;
  flex-direction: column;
  gap: 1.5rem;
}
.msk-main .msk-section-review .msk-title-banner {
  font-size: 4.8rem;
  font-weight: 100;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.msk-main .msk-section-review .msk-section-review-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 481px) {
  .msk-main .msk-section-review .msk-section-review-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-review .msk-section-review-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 70%;
  }
}
.msk-main .msk-section-review .msk-section-review-cards .msk-card-review {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}
@media (min-width: 481px) {
  .msk-main .msk-section-review .msk-section-review-cards .msk-card-review {
    width: calc(50% - 1rem - 20px);
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-review .msk-section-review-cards .msk-card-review {
    width: calc(50% - 3rem - 20px);
    width: 90%;
    max-width: 500px;
  }
}
.msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-top-card {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 820px) {
  .msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-top-card {
    gap: 4rem;
  }
}
.msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-top-card .msk-text-review {
  flex-grow: 1;
}
.msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-top-card .msk-text-review .msk-title-banner {
  font-size: 1.8rem;
  font-weight: 100;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
@media (min-width: 820px) {
  .msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-top-card .msk-text-review .msk-title-banner {
    font-size: 2.2rem;
  }
}
.msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-top-card .msk-text-review .msk-subtitle-banner {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 820px) {
  .msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-top-card .msk-text-review .msk-subtitle-banner {
    font-size: 1.3rem;
  }
}
.msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-review-button {
  padding: 0.4rem 2rem;
}
.msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-img-review {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
@media (min-width: 820px) {
  .msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-img-review {
    width: 8rem;
    height: 8rem;
  }
}
.msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-img-review.first {
  background-image: url("../assets/img/experience/review_1.png");
}
.msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-img-review.second {
  background-image: url("../assets/img/experience/review_2.png");
}
.msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-img-review.third {
  background-image: url("../assets/img/experience/review_3.png");
}
.msk-main .msk-section-review .msk-section-review-cards .msk-card-review .msk-img-review.fourth {
  background-image: url("../assets/img/experience/review_4.png");
}
.msk-main .msk-section-customers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.msk-main .msk-section-customers .msk-title {
  font-size: 3rem;
  font-weight: 100;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
@media (min-width: 481px) {
  .msk-main .msk-section-customers .msk-title {
    font-size: 4.2rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-customers .msk-title {
    font-size: 5.2rem;
  }
}
.msk-main .msk-section-customers .msk-customers-slider {
  width: 100%;
}
.msk-main .msk-section-customers .msk-customers-slider .slick-list .slick-track {
  display: flex !important;
  align-items: center !important;
  gap: 1rem !important;
}
.msk-main .msk-section-customers .msk-customers-slider .msk-photo {
  width: 15rem;
  height: 17rem;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
@media (min-width: 481px) {
  .msk-main .msk-section-customers .msk-customers-slider .msk-photo {
    width: 20rem;
    height: 22rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-customers .msk-customers-slider .msk-photo {
    width: 32rem;
    height: 34rem;
  }
}
.msk-main .msk-section-customers .msk-customers-slider .msk-photo:nth-child(1) {
  background-image: url("../assets/img/experience/client_1.png");
}
.msk-main .msk-section-customers .msk-customers-slider .msk-photo:nth-child(2) {
  background-image: url("../assets/img/experience/client_2.png");
}
.msk-main .msk-section-customers .msk-customers-slider .msk-photo:nth-child(3) {
  background-image: url("../assets/img/experience/client_3.png");
}
.msk-main .msk-section-customers .msk-customers-slider .msk-photo:nth-child(4) {
  background-image: url("../assets/img/experience/client_4.png");
}
.msk-main .msk-section-customers .msk-customers-slider .msk-photo:nth-child(5) {
  background-image: url("../assets/img/experience/client_5.png");
}
.msk-main .msk-section-customers .msk-customers-slider .msk-photo.slick-current {
  height: 19rem;
}
@media (min-width: 481px) {
  .msk-main .msk-section-customers .msk-customers-slider .msk-photo.slick-current {
    height: 25rem;
  }
}
@media (min-width: 820px) {
  .msk-main .msk-section-customers .msk-customers-slider .msk-photo.slick-current {
    height: 39rem;
  }
}

.msk-popup {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
}
.msk-popup:not(.msk-popup.msk-activate) {
  display: none;
}
.msk-popup.msk-activate {
  animation: showBackdrop ease-in 0.1s forwards, colorBackdrop ease-in-out 0.5s forwards 0.1s;
}
.msk-popup.msk-disable {
  animation: hideBackdrop ease-in 0.1s forwards 0.5s, transparentBackdrop ease-in-out 0.5s forwards;
}
.msk-popup .msk-card-popup {
  width: 90%;
  background-color: var(--color-beige);
  border-radius: 10px;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
@media (min-width: 481px) {
  .msk-popup .msk-card-popup {
    width: 60%;
    min-height: 30%;
  }
}
@media (min-width: 820px) {
  .msk-popup .msk-card-popup {
    width: 45%;
    min-height: 50%;
  }
}
.msk-popup .msk-card-popup.msk-open {
  animation: openPopUp ease-in-out 0.8s forwards;
}
.msk-popup .msk-card-popup.msk-close {
  animation: closePopUp ease-in-out 0.8s forwards;
}
.msk-popup .msk-card-popup .msk-title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  position: relative;
}
.msk-popup .msk-card-popup .msk-title::after {
  content: "";
  display: inline-block;
  width: 20%;
  height: 0.3rem;
  position: absolute;
  bottom: 0px;
  left: 40%;
  background-color: var(--color-salmon);
  border-radius: 10px;
}
.msk-popup .msk-card-popup .msk-stars {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;
  font-size: 1.8rem;
  color: #c1c1c1;
}
.msk-popup .msk-card-popup .msk-stars i[class*="fas fa"] {
  cursor: pointer;
  transition: all ease-in-out 150ms;
}
.msk-popup .msk-card-popup .msk-stars i[class*="fas fa"]:hover {
  color: var(--color-yellow-dark);
}
.msk-popup .msk-card-popup .msk-form-label {
  text-align: left;
  width: 80%;
}
.msk-popup .msk-card-popup .msk-form-item {
  border: none;
  outline: none;
  width: 80%;
  padding: 0.8rem;
  border-radius: 10px;
  resize: vertical;
}
.msk-popup .msk-card-popup .msk-form-item::placeholder {
  font-family: "Montserrat", sans-serif;
}

@keyframes showBackdrop {
  from {
    display: none;
  }
  to {
    display: flex;
  }
}
@keyframes hideBackdrop {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}
@keyframes colorBackdrop {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(26, 26, 26, 0.5019607843);
  }
}
@keyframes transparentBackdrop {
  from {
    background-color: rgba(26, 26, 26, 0.5019607843);
  }
  to {
    background-color: transparent;
  }
}
@keyframes openPopUp {
  from {
    transform: translateY(-100%);
    opacity: 0.1;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes closePopUp {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0.1;
  }
}

/*# sourceMappingURL=experience.css.map */
