.msk-main {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    .msk-banner {
        width: 100%;
        height: 60vh;
        background-image: url('./../assets/img/experience/banner.png');
        background-position: 45% 95%;
        background-size: cover;
        background-color: #53535379;
        background-blend-mode: soft-light;
        z-index: 9;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        gap: .5rem;
        padding-bottom: 10rem;

        @media (min-width:481px) {
            height: 70vh;
            padding-bottom: 15rem;
        }

        @media (min-width:820px) {
            height: 90vh;
            padding-bottom: 8rem;
        }

        .msk-title-banner {
            font-size: 5.5rem;
            font-weight: 100;
            margin: 0px;
            margin-block-start: 0px;
            margin-block-end: 0px;

            @media (min-width:481px) {
                font-size: 7.8rem;
            }

            @media (min-width:820px) {
                font-size: 10.8rem;
            }
        }

        .msk-subtitle-banner {
            font-size: 1.3rem;
            font-weight: bold;
            margin-top: -2.3rem;

            @media (min-width:481px) {
                font-size: 1.8rem;
            }

            @media (min-width:820px) {
                font-size: 1.9rem;
            }
        }



    }

    .msk-bar {
        width: 20%;
        height: .5rem;
        border-radius: 25px;
        margin: 1.5rem 0rem -1rem 0rem;
        border: none;
    }


    .msk-section-img {
        width: 100%;

        .msk-photos {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            gap: 1rem;
            row-gap: 1rem;
            padding: 1.5rem;

            @media (min-width:820px) {
                flex-wrap: nowrap;
            }

            .msk-photo {
                width: 22rem;
                height: 24rem;
                border-radius: 10px;
                background-size: cover;
                background-position: center;

                @media (min-width:481px) {
                    width: 100%;
                    background-size: 50% 100%;
                    background-repeat: no-repeat;
                }

                @media (min-width:820px) {
                    width: calc((100% / 3) - 5rem);
                    background-size: cover;
                }

                &:nth-child(1) {
                    background-image: url('../assets/img/experience/section_item1.png');

                    @media (min-width:481px) {
                        background-position: left;
                    }

                    @media (min-width:820px) {
                        font-size: 9.8rem;
                    }
                }

                &:nth-child(2) {
                    background-image: url('../assets/img/experience/section_item2.png');

                    @media (min-width:481px) {
                        background-position: right;
                    }

                    @media (min-width:820px) {
                        font-size: 9.8rem;
                    }
                }

                &:nth-child(3) {
                    background-image: url('../assets/img/experience/section_item3.png');

                    @media (min-width:481px) {
                        background-position: left;
                    }

                    @media (min-width:820px) {
                        font-size: 9.8rem;
                    }
                }
            }
        }
    }

    .msk-section {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 2rem;


        .msk-button-text {
            text-align: center;
            margin-top: 3rem;
            font-weight: bold;
            margin-bottom: 2rem;

            @media (min-width:481px) {
                font-size: 1.2rem;
            }

            @media (min-width:820px) {
                font-size: 1.3rem;
            }
        }
    }

    .msk-section-experience {
        margin-top: 2rem;
        text-align: center;
        width: 100%;

        .form-experience {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            gap: .5rem;
            padding-bottom: 10rem;
            padding: 2rem;

            @media (min-width:481px) {
                padding: 2rem 8rem;
            }

            @media (min-width:820px) {
                padding: 4rem 30rem;
                gap: 3rem;
            }
        }

        .msk-title-banner {
            font-size: 4.8rem;
            font-weight: 100;
            margin: 0px;
            margin-block-start: 0px;
            margin-block-end: 0px;
            line-height: 4.8rem;

            @media (min-width:820px) {
                font-size: 6.5rem;
                line-height: 6.5rem;
            }
        }

        .msk-subtitle-banner {
            font-size: 1rem;
            font-weight: bold;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;

            @media (min-width:481px) {}

            @media (min-width:820px) {
                font-size: 1.4rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }

        .msk-button {
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .msk-section-review {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem 0rem;
        flex-direction: column;
        gap: 1.5rem;

        .msk-title-banner {
            font-size: 4.8rem;
            font-weight: 100;
            margin: 0px;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }


        .msk-section-review-cards {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4rem 0rem;
            flex-direction: column;
            gap: 1.5rem;

            @media (min-width:481px) {
                flex-direction: row;
                flex-wrap: wrap;

            }

            @media (min-width:820px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: center;
                width: 70%;
            }


            .msk-card-review {
                gap: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;
                max-width: 400px;
                padding: 20px;
                border-radius: 10px;
                text-align: left;

                @media (min-width:481px) {
                    width: calc((100% / 2) - 1rem - 20px);
                }

                @media (min-width:820px) {
                    width: calc((100% / 2) - 3rem - 20px);
                    width: 90%;
                    max-width: 500px;

                }

                .msk-top-card {
                    gap: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @media (min-width:481px) {}

                    @media (min-width:820px) {
                        gap: 4rem;
                    }

                    .msk-text-review {
                        flex-grow: 1;

                        .msk-title-banner {
                            font-size: 1.8rem;
                            font-weight: 100;
                            margin: 0px;
                            margin-block-start: 0px;
                            margin-block-end: 0px;

                            @media (min-width:481px) {}

                            @media (min-width:820px) {
                                font-size: 2.2rem;
                            }
                        }

                        .msk-subtitle-banner {
                            font-size: 1rem;
                            margin-top: 1.5rem;
                            margin-bottom: 1.5rem;

                            @media (min-width:481px) {}

                            @media (min-width:820px) {
                                font-size: 1.3rem;
                            }
                        }

                    }
                }

                .msk-review-button {
                    padding: .4rem 2rem;
                }


                .msk-img-review {
                    width: 5rem;
                    height: 5rem;
                    border-radius: 10px;
                    background-size: cover;
                    background-position: center;
                    flex-shrink: 0;

                    @media (min-width:481px) {}

                    @media (min-width:820px) {
                        width: 8rem;
                        height: 8rem;
                    }

                    &.first {
                        background-image: url('../assets/img/experience/review_1.png');
                    }

                    &.second {
                        background-image: url('../assets/img/experience/review_2.png');
                    }

                    &.third {
                        background-image: url('../assets/img/experience/review_3.png');
                    }

                    &.fourth {
                        background-image: url('../assets/img/experience/review_4.png');
                    }
                }
            }
        }
    }

    .msk-section-customers {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .msk-title {
            font-size: 3rem;
            font-weight: 100;
            margin: 0px;
            margin-block-start: 0px;
            margin-block-end: 0px;


            @media (min-width:481px) {
                font-size: 4.2rem;
            }

            @media (min-width:820px) {
                font-size: 5.2rem;
            }
        }

        .msk-customers-slider {
            width: 100%;

            & .slick-list .slick-track {
                display: flex !important;
                align-items: center !important;
                gap: 1rem !important;
            }

            .msk-photo {
                width: 15rem;
                height: 17rem;
                border-radius: 10px;
                background-size: cover;
                background-position: center;


                @media (min-width:481px) {
                    width: 20rem;
                    height: 22rem;
                }

                @media (min-width:820px) {
                    width: 32rem;
                    height: 34rem;
                }

                &:nth-child(1) {
                    background-image: url('../assets/img/experience/client_1.png');
                }

                &:nth-child(2) {
                    background-image: url('../assets/img/experience/client_2.png');
                }

                &:nth-child(3) {
                    background-image: url('../assets/img/experience/client_3.png');
                }

                &:nth-child(4) {
                    background-image: url('../assets/img/experience/client_4.png');
                }

                &:nth-child(5) {
                    background-image: url('../assets/img/experience/client_5.png');
                }

                &.slick-current {
                    height: 19rem;

                    @media (min-width:481px) {
                        height: 25rem;
                    }

                    @media (min-width:820px) {
                        height: 39rem;
                    }
                }
            }
        }
    }
}

.msk-popup {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(&.msk-activate) {
        display: none;
    }

    &.msk-activate {
        animation: showBackdrop ease-in .1s forwards,
            colorBackdrop ease-in-out .5s forwards .1s;
    }

    &.msk-disable {
        animation: hideBackdrop ease-in .1s forwards .5s,
            transparentBackdrop ease-in-out .5s forwards;
    }

    .msk-card-popup {
        width: 90%;
        background-color: var(--color-beige);
        border-radius: 10px;
        min-height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;


        @media (min-width:481px) {
            width: 60%;
            min-height: 30%;
        }

        @media (min-width:820px) {
            width: 45%;
            min-height: 50%;
        }

        &.msk-open {
            animation: openPopUp ease-in-out .8s forwards;
        }

        &.msk-close {
            animation: closePopUp ease-in-out .8s forwards;
        }

        .msk-title {
            width: 100%;
            text-align: center;
            font-size: 2rem;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 20%;
                height: .3rem;
                position: absolute;
                bottom: 0px;
                left: 40%;
                background-color: var(--color-salmon);
                border-radius: 10px;
            }
        }

        .msk-stars {
            width: 80%;
            display: flex;
            align-items: center;
            gap: .5rem;
            justify-content: flex-start;
            font-size: 1.8rem;
            color: #c1c1c1;

            & i[class*="fas fa"] {
                cursor: pointer;
                transition: all ease-in-out 150ms;

                &:hover {
                    color: var(--color-yellow-dark);
                }
            }
        }

        .msk-form-label {
            text-align: left;
            width: 80%;
        }

        .msk-form-item {
            border: none;
            outline: none;
            width: 80%;
            padding: .8rem;
            border-radius: 10px;
            resize: vertical;

            &::placeholder {
                font-family: 'Montserrat', sans-serif;
            }
        }
    }
}



@keyframes showBackdrop {
    from {
        display: none;
    }

    to {
        display: flex;
    }
}

@keyframes hideBackdrop {
    from {
        display: flex;
    }

    to {
        display: none;
    }
}

@keyframes colorBackdrop {
    from {
        background-color: transparent;
    }

    to {
        background-color: #1a1a1a80;
    }
}

@keyframes transparentBackdrop {
    from {
        background-color: #1a1a1a80;
    }

    to {
        background-color: transparent;
    }
}

@keyframes openPopUp {
    from {
        transform: translateY(-100%);
        opacity: .1;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes closePopUp {
    from {
        transform: translateY(0%);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: .1;
    }
}