.msk-main {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    .msk-banner {
        width: 100%;
        height: 60vh;
        background-image: url('./../assets/img/home/banner.png');
        background-position: center;
        background-size: cover;
        background-color: #53535379;
        background-blend-mode: soft-light;
        z-index: 9;
        transition: all ease-in-out 100ms;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        gap: .5rem;
        padding-bottom: 6rem;

        @media (min-width:481px) {
            height: 70vh;
            padding-bottom: 15rem;
        }

        @media (min-width:820px) {
            height: 90vh;
            padding-bottom: 8rem;
        }

        .msk-title-banner {
            font-size: 5.5rem;
            font-weight: 100;
            margin: 0px;
            margin-block-start: 0px;
            margin-block-end: 0px;

            @media (min-width:481px) {
                font-size: 7.8rem;
            }

            @media (min-width:820px) {
                font-size: 10.8rem;
            }
        }

        .msk-subtitle-banner {
            font-size: 1.3rem;
            font-weight: bold;
            margin-top: -2.3rem;

            @media (min-width:481px) {
                font-size: 1.8rem;
            }

            @media (min-width:820px) {
                font-size: 1.9rem;
            }
        }
    }

    .msk-bar {
        width: 20%;
        height: .4rem;
        border-radius: 25px;
        margin: 1.5rem 0rem 5rem 0rem;
        border: none;
    }

    .msk-section {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 2rem;
    }

    .msk-photos {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;

        @media (min-width:481px) {
            flex-wrap: nowrap;
        }

        .msk-photo {
            width: 22rem;
            height: 24rem;
            border-radius: 10px;
            background-size: cover;
            background-position: center;

            &:nth-child(1) {
                background-image: url('../assets/img/home/section1_item1.png');
            }

            &:nth-child(2) {
                background-image: url('../assets/img/home/section1_item2.png');
            }

            &:nth-child(3) {
                background-image: url('../assets/img/home/section1_item3.png');
            }

            @media (min-width:481px) {
                height: 18rem;
            }

            @media (min-width:820px) {
                height: 18rem;
            }
        }
    }

    .msk-photos-text {
        text-align: center;
        margin-top: 3rem;
        font-weight: bold;
        margin-bottom: 2rem;

        @media (min-width:481px) {
            width: 60%;
        }

        @media (min-width:820px) {
            width: 45%;
        }
    }

    .msk-section-slider {
        width: 100%;
        height: fit-content;
        margin-top: 3rem;
        border-radius: 0px;
        overflow: hidden;

        .msk-slider {
            width: 100%;
            height: 55vh;

            @media (min-width:481px) {
                height: 45vh;
            }

            @media (min-width:820px) {
                height: 80vh;
            }

            &.slick-dotted.slick-slider {
                margin-bottom: 0px !important;
            }

            .msk-slide {
                width: 100%;
                height: 55vh;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                @media (min-width:481px) {
                    height: 45vh;
                }

                @media (min-width:820px) {
                    height: 80vh;
                }
            }
        }

        .msk-slider-dots,
        .msk-news-dots {
            display: flex;
            align-items: center;
            width: 100%;
            height: 1rem;
            position: relative;
            margin-bottom: 1rem;

            .msk-slider-dot,
            .msk-new-dot {
                bottom: 0px;
            }

            .msk-slider-dot li,
            .msk-new-dot li {
                background-color: var(--color-yellow-dark) !important;
                border-radius: 100%;
                width: .7rem;
                height: .7rem;

                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }

            .msk-new-dot li {
                background-color: var(--color-brown) !important;
            }
        }

        .msk-slider-dots {
            margin-top: 1rem;
        }

        .msk-about {
            background-image: url(../assets/img/home/about_us.png);
            background-position: center;
            background-size: cover;
            padding: 1rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .msk-about-title {
                font-size: 5rem;
                font-weight: 100;
                line-height: 5rem;
                border-bottom: .5rem solid var(--color-yellow-dark);
                margin-bottom: 1rem;
            }

            .msk-about-subtitle {
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }

    .msk-section-popular {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .msk-popular-title {
            font-size: 4rem;
            margin-bottom: 1rem;
        }

        .msk-popular-content {
            gap: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (min-width:481px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                place-items: center;
                width: 80%;
                margin-bottom: 3rem;
            }

            @media (min-width:820px) {
                grid-template-columns: repeat(3, 1fr);
            }

            .msk-card-popular {
                width: fit-content;
                height: fit-content;
                border-radius: 10px;
                overflow: hidden;
                background-color: var(--color-beige);
                display: flex;
                align-items: center;
                flex-direction: column;

                &:nth-child(5),
                &:nth-child(6) {
                    display: none;

                    @media (min-width:820px) {
                        display: flex;
                    }
                }

                .msk-card-image {
                    width: 15rem;
                    height: 15rem;
                    background-position: center;
                    background-size: cover;

                    &.msk-first,
                    &.msk-fifth,
                    &.msk-sixth {
                        background-image: url('../assets/img/home/section1_item1.png');
                    }

                    &.msk-second {
                        background-image: url('../assets/img/home/unicorn.png');
                    }

                    &.msk-third {
                        background-image: url("../assets/img/home/octava_maravilla.png");
                    }

                    &.msk-fourth {
                        background-image: url("../assets/img/home/section1_item3.png");
                    }

                }

                .msk-title-popular {
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                }

                .msk-button-popular {
                    padding: .5rem 2rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .msk-section-news {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem 0px;
        min-height: 28rem;
        overflow: hidden;

        .msk-news-title {
            font-size: 4.5rem;
            font-weight: 100;
        }

        .msk-slider-news {
            width: 200%;
            display: flex;

            & .slick-list .slick-track {
                display: flex !important;
                align-items: center !important;
                gap: 2.8rem !important;
            }
        }

        .msk-slider-card {
            background-color: var(--color-beige);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: .8rem;
            flex-shrink: 0 !important;
            position: relative;
            overflow: hidden;
            width: 12rem;
            height: fit-content;
            transition: all ease-in-out 100ms;


            @media (min-width:481px) {
                width: 21rem;
            }

            @media (min-width:820px) {}


            .backdrop {
                background-color: #1a1a1a6c;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;

                @media (min-width:820px) {
                    display: none;
                }
            }

            .msk-card-image {
                width: 12rem;
                height: 12rem;
                background-position: center;
                background-size: cover;
                transition: all ease-in-out 100ms;

                @media (min-width:481px) {
                    width: 21rem;
                    height: 21rem;
                }

                @media (min-width:820px) {}

                &.pre-first {
                    background-image: url('../assets/img/home/chocoramo.png');
                    background-size: 100% 100%;
                }

                &.first {
                    background-image: url('../assets/img/home/salchipapa.png');
                }

                &.second {
                    background-image: url('../assets/img/home/mefa.png');
                }
            }

            &.slick-active {
                .msk-card-image {
                    width: 15rem;
                    height: 13rem;

                    @media (min-width:481px) {
                        width: 25rem;
                        height: 23rem;
                    }

                    @media (min-width:820px) {
                        width: 21rem;
                        height: 21rem;
                    }
                }

                .backdrop {
                    background-color: transparent;
                    display: none;
                }
            }

            .msk-card-title {
                font-size: 1.3rem;
                font-weight: 100;
                margin-bottom: .5rem;
                text-align: center;
            }

            .msk-button-new {
                padding: .5rem 2rem;
            }

        }
    }

    .msk-section-events {
        width: 100%;
        display: flex;
        flex-direction: column;

        .msk-banner-event {
            background-image: url("../assets/img/home/eventos.png");
            background-size: cover;
            width: 100%;
            height: 30vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1a1a1aa4;
            background-blend-mode: soft-light;

            @media (min-width:820px) {
                height: 50vh;
            }

            .msk-banner-title-event {
                font-size: 4rem;
                font-weight: 100;
                margin-inline-end: 0px;
                position: relative;

                @media (min-width:481px) {
                    font-size: 5rem;
                }


                &::after {
                    position: absolute;
                    bottom: 0px;
                    left: 25%;
                    content: '';
                    width: 50%;
                    height: .3rem;
                    display: inline-block;
                    background-color: var(--color-yellow);
                }
            }
        }

        .msk-events-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            @media (min-width:481px) {
                flex-direction: row;
                align-items: flex-start;
            }

            @media (min-width:820px) {}
        }

        .msk-event {
            padding: 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;

            @media (min-width:481px) {
                flex-shrink: 0;
                width: 50%;
            }

            @media (min-width:820px) {
                order: 2;
                width: 55%;
                height: 35rem;
            }

            .msk-event-title {
                font-size: 3.5rem;
                font-weight: 100;
                line-height: 3.5rem;

                @media (min-width:820px) {
                    font-size: 4.5rem;
                    line-height: 4.5rem;
                }
            }

            .msk-event-description {
                width: 90%;
                font-weight: bold;

                @media (min-width:820px) {
                    width: 70%;
                }
            }

            .msk-event-image {
                background-image: url("../assets/img/home/birthday.png");
                width: 90%;
                height: 10rem;
                background-position: center;
                background-size: cover;
                border-radius: 20px;

                @media (min-width:820px) {
                    width: 80%;
                    height: 13rem;
                }
            }
        }

        .msk-moment {
            padding: 2rem 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            height: 12rem;

            @media (min-width:481px) {
                height: 28.5rem;
                justify-content: center;

            }

            @media (min-width:820px) {
                order: 1;
                height: 35rem;
            }

            .msk-moment-title {
                font-size: 3.5rem;
                font-weight: 100;
                line-height: 3.5rem;
            }

            .msk-moment-description {
                width: 90%;
                font-weight: bold;
            }
        }
    }

}